body {
    font-family: 'PT Serif', serif;
}

h1 {
    font-size: 3.2em;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.subtitle {
    color: #6C0E25;
    text-decoration: underline;
    text-decoration-color: #6C0E25;
    text-decoration-thickness: 2px;
    text-underline-offset: 16px;
    margin-bottom: 2em;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar {
    background-color: white;
    opacity: 95%;
    padding: 20px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    text-align: left;
    padding-left: 16px;
    font-size: 1.2em;
    font-weight: bold;
}

.navbar-right {
    text-align: right;
    padding-right: 16px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar ul {
    list-style: none;
    display: inline-block;
}

.navbar li {
    display: inline;
    margin-left: 20px;
}

.navbar a.active-link {
    text-decoration: underline;
    text-decoration-color: #6C0E25;
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: none;
    text-underline-offset: 12px;
}

main {
    padding-top: 100px;
}

section {
    padding: 4em;
}

/* Parallax effect */
.parallax {
    background-image: url(img/domaine.jpeg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image {
    background-image: url(img/famille.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.top {
    position: relative;
    text-align: center;
    color: white;
    padding-top: 12em;
    padding-bottom: 4em;
}

.top a {
    margin-top: 8em;
}

/* Animated message */
.message {
    position: absolute;
    width: 100%;
    top: 32%;
    transform: translate(-10%, -50%);
    margin-bottom: 1em;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    text-align: center;
}
  
.message p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    font-family: 'Satisfy', cursive;
    font-size: 2.8em;
}
  
.word {
    position: absolute;
    opacity: 0;
    margin-left: 0.2em;
    color: #6C0E25;
    font-weight: bold;
}
  
.letter {
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.word .letter {
    margin-right: 0.05em; /* すべての文字間に適用されるデフォルトのマージン */
}

.word.bon .letter:nth-child(2),
.word.vrai .letter:nth-child(2) {
    margin-right: 0.4em; /* "du" と "bon," 、"du" と "vrai," の間のマージン */
}
  
.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
  
.letter.behind {
    transform: rotateX(-90deg);
}
  
.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button {
    display: block;
    background-color: #6C0E25;
    opacity: 90%;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
    letter-spacing:  0.05em;
    padding: 0.8em 0.8em;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 2em;
    width: 20%;
}

/* Fade up animation */
.fadeUpTrigger {
    opacity: 0;
    transform: translateY(40px); /* 初期位置を下に設定 */
    transition: opacity  0.8s, transform 0.8s;
}

.fadeUpTrigger.fadeUp {
    opacity: 1;
    transform: translateY(0); /* 最終位置を元に戻す */
}

/* About section */
.about {
    background-color: white;
    opacity: 90%;
}

/* Wine section */
.carousel-container {
    width: 100%;
    position: relative;
    display: inline-flex;
    float: left;
    justify-content: center;
    align-items: center;
}

.carousel {
    list-style: none;
    padding: 0;
    max-width: 100%;
}

.carousel li {
    width: 148px;
    height: auto;
    margin: 1.6em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.carousel img {
    max-width: 60%;
}

.carousel h3 {
    text-align: center;
    font-weight: bold;
}

/* Footer section */
footer {
    background-color: #6C0E25;
    color: white;
    width: 100%;
}

footer p {
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

/* Footer LEFT */
.footer-left {
    flex: 1;
    padding: 1.6em 3.2em 0.8em 3.2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-info h2 {
    font-weight: 400;
}

address {
    margin-bottom: 0.4em;
}

.contact-info a {
    color: white;
    margin-bottom: 0.4em;
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    margin: auto;
}

.contact-form i {
    padding-right: 1em;
}

/* Footer RIGHT */
.footer-right {
    flex: 1;
    padding: 1.6em 3.2em 0.8em 3.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 100%;
}

.social-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.social-icon {
    display: flex;
    width: 80%;
    height: 20%;
    justify-content: space-around;
    align-items: center;
}

.social-icon i {
    font-size: 2em;
    margin: 0.4em;
}

.social-icon img {
    height: 72%;
}

.caution p {
    font-size: 0.8em;
    text-align: center;
    align-self: flex-start;
}

/* Footer BOTTOM */
.end-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 3em 2em 4em;
    vertical-align: top;
    font-size: 0.8em;
}

.legal {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.legal p {
    padding-right: 2em;
}